<div class="container">
  <div class="container-box height-90vh">
    <div class="row d-flex">

      <div class="col-sm-12 col-md-7 height-90vh">
        <div id="logo" class="d-flex justify-content-between align-items-center p-5">
          <%= image_tag "logo.png" %>
          <p class="text-secondary mb-0">Already have an account?&nbsp
            <%= render "devise/shared/links" %>
          </p>
        </div>
        <div class="p-5">
          <h2 class="bold">Sign up to see your friend's pictures and videos and much more</h2>
          <p class="text-muted">It's free and it will be allways free</p>

          <%= render "devise/registrations/form" %>
        </div>

      </div>

      <div class="col-sm-0 col-md-5 bg-img-overlay">
      </div>

    </div>
  </div>
</div>