<div class="container d-flex justify-content-center">
  <div class="container-box height-90vh">
    <div class="row d-flex">

      <div class="col-12 height-90vh">
        <div id="logo" class="d-flex justify-content-between align-items-center p-5">
          <%= image_tag "logo.png" %>
          <p class="d-flex text-secondary mb-0">New to Instagram?&nbsp
            <%= render "devise/shared/links" %>
          </p>
        </div>
        <div class="p-5">
          <h2 class="bold">Welcome back! Log in to Instagram </h2>
          <p class="text-muted">See what's new inside!</p>
          <%= render "devise/sessions/form" %>
        </div>
      </div>
    </div>
  </div>
</div>